.post {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.post__header {
  display: flex;
  margin-bottom: 10px;
}
.post__info {
  margin-left: 10px;
}
.post__info > p {
  font-size: 12px;
  color: gray;
}
.post__info > h2 {
  font-size: 15px;
}
.post__body {
  font-size: 15px;
  font-weight: 500;
  overflow-wrap: break-word;
  margin: 5px 0;
}

.post__buttons {
  display: flex;
  height: max-content;
  /* align-items: center; */
  justify-content: space-evenly;
  /* background-color: red; */
}
