.header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding: 10px 0;
  position: static;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 999;
}

.header__left {
  display: flex;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header__search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: gray;
  height: 22px;
  background-color: #eef3f8;
}
.header__search input {
  outline: none;
  border: none;
  background: none;
}

.header__right {
  display: flex;
}
